@media(max-width: 1920px){
    .header__panel{
        width: 1200px;
    }
}

@media(max-width: 1200px){
    .header__panel{
        width: 768px;
    }
}

@media(max-width: 991px){
    .header__panel{
        width: 576px;
    }
    .header__logo,
    .menu-serach,
    .profile-link{
        display: none;
    }
    .button__navigator-menu-header{
        display: flex;
    }
}

@media(max-width: 576px){
    .header__panel{
        width: 320px;
    }
}