@media(max-width: 1920px){
    main{
        width: 1200px;
    }
}

@media(max-width: 1200px){
    main{
        width: 768px;
    }
}

@media(max-width: 991px){
    main{
        width: 576px;
    }
}

@media(max-width: 576px){
    main{
        width: 320px;
    }
}